Menu:
	"&File":
		value: "文件(&F)"
		submenu:
			"New &Window":
				value: "新建窗口(&W)"
			"&New File":
				value: "新建文件(&N)"
			"&Open File…":
				value: "打开(&O)..."
			"Open Folder…":
				value: "打开文件夹..."
			"Add Project Folder…":
				value: "添加项目文件夹..."
			"Open Recent":
				value: "最近打开的文件..."
				submenu:
					"Reopen Closed File":
						value: "重新打开上次关闭的文件"
					"Clear List":
						value: "清除列表"
			"&Save":
				value: "保存(&S)"
			"Save &As…":
				value: "另存为(&A)..."
			"Save A&ll":
				value: "全部保存(&L)"
			"&Close Tab":
				value: "关闭标签页(&C)"
			"Close &Pane":
				value: "关闭窗格(&P)"
			"Clos&e Window":
				value: "关闭窗口(&E)"
			"Quit":
				value: "关闭 Atom"
			"Close All Tabs":
				value: "关闭所有标签页"
	"&Edit":
		value: "编辑(&E)"
		submenu:
			"&Undo":
				value: "还原(&U)"
			"&Redo":
				value: "重做(&R)"
			"&Cut":
				value: "剪切(&C)"
			"C&opy":
				value: "复制(&O)"
			"Copy Pat&h":
				value: "复制路径(&H)"
			"&Paste":
				value: "粘贴(&P)"
			"Select &All":
				value: "全选(&A)"
			"&Toggle Comments":
				value: "注释/取消注释(&T)"
			Lines:
				value: "行"
				submenu:
					"&Indent":
						value: "增加缩进(&I)"
					"&Outdent":
						value: "減少缩进(&O)"
					"&Auto Indent":
						value: "自动缩进(&A)"
					"Move Line &Up":
						value: "向上移动行(&U)"
					"Move Line &Down":
						value: "向下移动行(&D)"
					"Du&plicate Lines":
						value: "复制行(&P)"
					"D&elete Line":
						value: "刪除行(&E)"
					"&Join Lines":
						value: "合并行(&J)"
			Columns:
				value: "列"
				submenu:
					"Move Selection &Left":
						value: "向左移动所选对象(&L)"
					"Move Selection &Right":
						value: "向右移动所选对象(&R)"
			Text:
				value: "文本"
				submenu:
					"&Upper Case":
						value: "转换为大写(&U)"
					"&Lower Case":
						value: "转换为小写(&L)"
					"Delete to End of &Word":
						value: "刪除至词尾(&W)"
					"Delete to Previous Word Boundary":
						value: "刪除前一词"
					"Delete to Next Word Boundary":
						value: "刪除后一词"
					"&Delete Line":
						value: "刪除行(&D)"
					"&Transpose":
						value: "前后转置(&T)"
			Folding:
				value: "折叠代码"
				submenu:
					"&Fold":
						value: "折叠(&F)"
					"&Unfold":
						value: "展开(&U)"
					"Unfold &All":
						value: "展开全部(&A)"
					"Fol&d All":
						value: "折叠全部(&D)"
					"Fold Level 1":
						value: "折叠第 1 层"
					"Fold Level 2":
						value: "折叠第 2 层"
					"Fold Level 3":
						value: "折叠第 3 层"
					"Fold Level 4":
						value: "折叠第 4 层"
					"Fold Level 5":
						value: "折叠第 5 层"
					"Fold Level 6":
						value: "折叠第 6 层"
					"Fold Level 7":
						value: "折叠第 7 层"
					"Fold Level 8":
						value: "折叠第 8 层"
					"Fold Level 9":
						value: "折叠第 9 层"
			"&Preferences":
				value: "偏好设置(&P)..."
			"Config…":
				value: "设定..."
			"Init Script…":
				value: "初始化脚本..."
			"Keymap…":
				value: "快捷键设置..."
			"Snippets…":
				value: "代码片段设置..."
			"Stylesheet…":
				value: "Atom 样式表..."
			"Reflow Selection":
				value: "重排所选区域"
			Bookmark:
				value: "书签"
				submenu:
					"View All":
						value: "查看全部书签"
					"Toggle Bookmark":
						value: "切换书签"
					"Jump to Next Bookmark":
						value: "跳转至下一个书签"
					"Jump to Previous Bookmark":
						value: "跳转至上一个书签"
			"Select Encoding":
				value: "选择编码"
			"Go to Line":
				value: "跳转至指定行号"
			"Select Grammar":
				value: "选择编程语言"
	"&View":
		value: "查看(&V)"
		submenu:
			"&Reload":
				value: "重新载入文件(&R)"
			"Toggle &Full Screen":
				value: "切换全屏(&F)"
			"Toggle Menu Bar":
				value: "显示/隐藏菜单栏"
			Panes:
				value: "窗格"
				submenu:
					"Split Up":
						value: "向上分割 ↑"
					"Split Down":
						value: "向下分割 ↓"
					"Split Left":
						value: "向左分割 ←"
					"Split Right":
						value: "向右分割 →"
					"Focus Next Pane":
						value: "移至后一个窗格"
					"Focus Previous Pane":
						value: "移至前一个窗格"
					"Focus Pane Above":
						value: "移至上方窗格 ↑"
					"Focus Pane Below":
						value: "移至下方窗格 ↓"
					"Focus Pane On Left":
						value: "移至左方窗格 ←"
					"Focus Pane On Right":
						value: "移至右方窗格 →"
					"Close Pane":
						value: "关闭窗格"
			Developer:
				value: "开发人员"
				submenu:
					"Open In &Dev Mode…":
						value: "在开发者模式中打开(&D)..."
					"Run &Atom Specs":
						value: "执行 Atom Specs(&A)"
					"Run Package &Specs":
						value: "执行 Package Specs(&S)"
					"Toggle Developer &Tools":
						value: "开发者工具(&T)"
			"&Increase Font Size":
				value: "放大文字尺寸"
			"&Decrease Font Size":
				value: "縮小文字尺寸"
			"Re&set Font Size":
				value: "重设文字尺寸"
			"Toggle Soft &Wrap":
				value: "自动换行(&W)"
			"Toggle Command Palette":
				value: "指令面板"
			"Toggle Tree View":
				value: "显示/隐藏 文件列表面板"
			"Toggle Symbols-Tree-View":
				value: "显示/隐藏 定义列表面板"
	"&Selection":
		value: "选取(&S)"
		submenu:
			"Add Selection &Above":
				value: "向上选取 ↑(&A)"
			"Add Selection &Below":
				value: "向下选取 ↓(&B)"
			"S&plit into Lines":
				value: "多行同时操作模式(&P)"
			"Single Selection":
				value: "解除同时操作模式"
			"Select to &Top":
				value: "选取至文件顶部(&T)"
			"Select to Botto&m":
				value: "选取至文件底部(&M)"
			"Select &Line":
				value: "选取行(&L)"
			"Select &Word":
				value: "选取词(&W)"
			"Select to Beginning of W&ord":
				value: "选取至词首(&O)"
			"Select to Beginning of L&ine":
				value: "选取至行首(&I)"
			"Select to First &Character of Line":
				value: "选取至行內的第一个字符(&C)"
			"Select to End of Wor&d":
				value: "选取至词尾(&D)"
			"Select to End of Lin&e":
				value: "选取至行尾(&E)"
			"Select Inside Brackets":
				value: "选取括号內容"
	"F&ind":
		value: "查找(&I)"
		submenu:
			"Find in Buffer":
				value: "在文件编辑区中查找..."
			"Replace in Buffer":
				value: "在文件编辑区中替换..."
			"Select Next":
				value: "选择下一项"
			"Select All":
				value: "全选"
			"Toggle Find in Buffer":
				value: "显示/隐藏 查找面板"
			"Find in Project":
				value: "在项目中查找..."
			"Toggle Find in Project":
				value: "显示/隐藏 项目查找面板"
			"Find Next":
				value: "查找下一项"
			"Find Previous":
				value: "查找上一项"
			"Replace Next":
				value: "替换下一项"
			"Replace All":
				value: "全部替换"
			"Clear History":
				value: "清除历史纪录"
			"Find Buffer":
				value: "查找编辑区文件"
			"Find File":
				value: "查找文件"
			"Find Modified File":
				value: "查找修改过的文件"
	"&Packages":
		value: "扩展包(&P)"
	"&Help":
		value: "帮助(&H)"
		submenu:
			"View &Terms of Use":
			  value: "查看使用条款(&T)"
			"View &License":
			  value: "查看许可证(&L)"
			"&Documentation":
				value: "说明文件(&D)"
			Roadmap:
				value: "发展路线图"
			"Frequently Asked Questions":
				value: "常见问题"
			"Community Discussions":
				value: "社区讨论"
			"Report Issue":
				value: "报告问题"
			"Search Issues":
				value: "搜索已知问题"
			"About Atom":
				value: "关于 Atom"
			"Release Notes":
				value: "版本说明"
			"Welcome Guide":
				value: "欢迎指南"
